html {
    background-color: pink;
}
/* styling of the entire grid */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 5 / 5;} /*grid area starts at row 1 column 2 and ends at row 3 and column 5 */
    .div2 { grid-area: 3 / 1 / 4 / 6;} /*grid area starts at row 3 column 1 and ends at row 4 and column 6 */
    .div3 { grid-area: 4 / 1 / 5 / 6;} /*grid area starts at row 4 column 1 and ends at row 5 and column 6 */
    .div4 { grid-area: 5 / 1 / 6 / 6;} /*grid area starts at row 5 column 1 and ends at row 6 and column 6 */

    
    .div2{
        background-color: whitesmoke;
    }
    .div3{
        background-color: whitesmoke;
    }
    .div4{
        background-color: whitesmoke;
    }

    /* footer styling */
    .footer-socials {
        display: flex;
        justify-content: space-around;
        padding: 20px;
      }
      
      .footer-link {
        width: 25px;
        height: 50px;
      }