:root{
    color: #87BCDE;
    color: #805e73;
    color: #4E4D5C;
    color: #2D4654;
    color: #243D4A;
}
/* styling of the nav bar */
nav ul {
    display: flex;
    list-style: none;
   flex-direction: row;
   justify-content: space-evenly;
    width: 100%;
}
nav ul li {
        padding: 10px;
        background-image: linear-gradient(to right, #4E4D5C, #2D4654);
         width: 90%;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif, optima;
}
/* styling of the title on the page */
h1{
    display: flex;
    justify-content: center;
    align-content: center;
    color: gray;
    font-size: 55px;
    font-family: sans-serif, optima;
}
h2{
    color: gray;
    font-size: 35px;
    font-family: sans-serif, optima;
}

#container{
font-size: 20px;
font-family: sans-serif, optima;
margin: 10px;
display: flex;
flex-direction: column;
}
#output{
    color: #805e73;
    text-transform: uppercase;
}
#output2{
    color: #805e73;
    text-transform: uppercase;
}
#output3{
    color: #805e73;
    text-transform: uppercase;
}
#output4{
    color: #805e73;
    text-transform: uppercase;
}
#output5{
    color: #805e73;
    text-transform: uppercase;
}
#output6{
    color: #805e73;
    text-transform: uppercase;
}
#output7{
    color: #805e73;
    text-transform: uppercase;
}
#output8{
    color: #805e73;
    text-transform: uppercase;
}
#output9{
    color: #805e73;
    text-transform: uppercase;
}
#output10{
    color: #805e73;
    text-transform: uppercase;
}
#output11{
    color: #805e73;
    text-transform: uppercase;
}
#output12{
    color: #805e73;
    text-transform: uppercase;
}
p{
    text-indent: 45px;
}

 /* footer styling */
 .footer-socials {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
  
  .footer-link {
    width: 25px;
    height: 50px;
  }
